<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" . }}
<body>
  {{ partial "header.html" . }}
  <section id="wrapper">
    {{ block "main" . }}{{ end }}
  </section>
  {{ partial "footer.html" . }}
  {{ partial "custom_footer.html" . }}
</body>
</html>
