{{ define "main" }}
<article class="h-entry post">
  <header>
    <h1 class="p-name">{{ .Title }}</h1>
  </header>
  <section class="e-content post-body">
    {{ .Content }}
  </section>
</article>
{{ partial "post-meta.html" . }}
{{ end }}
