<svg>
  <filter id="sharpBlur">
    <feGaussianBlur stdDeviation="20" result="blur"></feGaussianBlur>
    <feColorMatrix type="matrix" values="1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 0.9 0"></feColorMatrix>
    <feComposite in2="SourceGraphic" operator="in"></feComposite>
  </filter>
</svg>

<script>
  // Set the options globally to make LazyLoad self-initialize
  window.lazyLoadOptions = {};

  // Listen to the initialization event and get the instance of LazyLoad
  window.addEventListener(
    "LazyLoad::Initialized",
    function (event) {
      window.lazyLoadInstance = event.detail.instance;
    },
    false
  );
</script>

<script async src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.3.1/dist/lazyload.min.js"></script>
<script async src="//gc.zgo.at/count.js" data-goatcounter="https://james.goatcounter.com/count"></script>
