<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="{{ .Site.Author.name }}" name="author">

  <title>
    {{- block "title" . -}}
      {{- .Site.Title -}}
      {{- if and .Title (ne .Title .Site.Title) }}
      - {{ .Title }}
      {{- end -}}
    {{- end -}}
  </title>

  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>👋</text></svg>">

  {{ $style := resources.Get "css/style.css" | resources.Minify | resources.Fingerprint }}
  <link href="{{ $style.Permalink }}" rel="stylesheet">
  {{ $highlight := resources.Get "css/highlight.css" | resources.Minify | resources.Fingerprint }}
  <link href="{{ $highlight.Permalink }}" rel="stylesheet">
  <link href="{{ "custom.css" | relURL }}" rel="stylesheet" >

  {{ with .OutputFormats.Get "RSS" }}
  <link href="{{ .RelPermalink }}" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}" />
  {{ end }}
  {{ with .OutputFormats.Get "JSONFeed" }}
  <link href="{{ .RelPermalink }}" rel="alternate" type="application/json" title="{{ $.Site.Title }}" />
  {{ end }}

  {{ with .Site.Params.microdotblog_username }}<link rel="me" href="https://micro.blog/{{ . }}" />{{ end }}
  {{ with .Site.Params.twitter_username }}<link rel="me" href="https://twitter.com/{{ . }}" />{{ end }}
  {{ with .Site.Params.github_username }}<link rel="me" href="https://github.com/{{ . }}" />{{ end }}
  {{ with .Site.Params.gitlab_username }}<link rel="me" href="https://gitlab.com/{{ . }}" />{{ end }}
  {{ with .Site.Params.instagram_username }}<link rel="me" href="https://instagram.com/{{ . }}" />{{ end }}

  {{ with .Site.Params.micropub_auth_endpoint }}<link rel="authorization_endpoint" href="{{ . }}" />{{ end }}
  {{ with .Site.Params.micropub_token_endpoint }}<link rel="token_endpoint" href="{{ . }}" />{{ end }}
  {{ with .Site.Params.micropub_endpoint }}<link rel="micropub" href="{{ . }}" />{{ end }}
  {{ with .Site.Params.microsub_endpoint }}<link rel="microsub" href="{{ . }}" />{{ end }}
  {{ with .Site.Params.webmention_endpoint }}<link rel="webmention" href="{{ . }}" />{{ end }}
  {{ with .Site.Params.subscribe_endpoint }}<link rel="subscribe" href="{{ . }}" />{{ end }}
</head>
