<nav class="main-nav">
  {{ if ne .IsHome true }}
  <a class="normal" href="/"> <span class="arrow">←</span> Home</a>
  {{ end }}

	{{ range .Site.Menus.main }}
	{{ with .Page }}
		{{ if .Page.Params.redirect_url }}
			<a href="{{ .Page.Params.redirect_url }}">{{ .Name }}</a>
		{{ else }}
			<a href="{{ .RelPermalink | relLangURL | safeURL }}">{{ .Name }}</a>
		{{ end }}
	{{ else }}
		<a href="{{ .URL | relLangURL | safeURL }}">{{ .Name }}</a>
	{{ end }}
	{{ end }}

	{{ if and .Site.Params.cta_text .Site.Params.cta_link }}
		<a class="cta" href="{{ .Site.Params.cta_link }}">{{ .Site.Params.cta_text }}</a>
	{{ else if .Site.Params.microdotblog_username }}
		<a class="cta" href="https://micro.blog/{{ .Site.Params.microdotblog_username }}" rel="me">Also on Micro.blog</a>
	{{ end }}
</nav>
