<li>
<article>
  {{ if .Title }}
  <header>
    <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
  </header>
  {{ end }}
  <section class="post-body">
  {{ .Content }}
  {{ partial "post-photos.html" . }}
  </section>
  <a href="{{ .Permalink }}" class="u-url" title="{{ with .Title }}{{ . }}{{ else }}Permalink{{ end }}">
    <aside class="dates">
      <time datetime="{{ .Date.Format "2006-01-02 15:04:05 -0700" }}" class="dt-published">
      → {{ partial "post-date.html" . }}
      </time>
    </aside>
  </a>
</article>
</li>
<span class="separator"><span class="divider"></span></span>
