{{- $permalink := .Permalink -}}
{{- $ctx := . -}}
{{- range .Params.photos -}}
<a href="{{ $permalink }}">
{{- with partial "get-image-srcset.html" (dict "Page" $ctx "Destination" . ) -}}
  <img src="{{ .Thumb.RelPermalink }}"
       data-src="{{ .Tiny.RelPermalink }}"
       data-srcset="{{ .Tiny.RelPermalink }} 1x,
               {{ .Small.RelPermalink }} 2x,
               {{ .Medium.RelPermalink }} 3x"
       width="300" height="300"
       class="photos-grid-item lazy"/>
{{- else -}}
  <img src="{{ . }}"
       width="300" height="300"
       class="photos-grid-item">
{{- end -}}
</a>
{{- end -}}
