{{ define "main" }}
<article class="h-entry post">
  <header>
  {{ with .Title }}
    <h1 class="p-name">{{ . }}</h1>
  {{ end }}
    <h2 class="headline">
      <time class="dt-published" datetime="{{ .Date.Format "2006-01-02 15:04:05 -0700" }}">
        <a class="u-url dates" href="{{ .Permalink }}">{{ partial "post-date.html" . }}</a>
      </time>
      {{ with .Params.location }}
      <p class="locations">{{ . }}</p>
      {{ end }}
    </h2>
  </header>
  <section class="e-content post-body">
    {{ .Content }}
    {{ partial "post-photos.html" . }}
  </section>
</article>
{{ partial "post-meta.html" . }}
{{ end }}
